@CHARSET "UTF-8";
div.line {
	border-bottom: 1px solid #C3C1C4;
	color: #666666;
	font-size: 1.2em;
	margin-bottom: 11px;
}

.main-panel{
	background-color: #fff;
	border: 0px solid transparent;
	border-radius: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}

.main-heading{
	border-bottom: 0px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 10px 15px;
}

.panel-gray{
	color: #ffffff;
	background: #666666;
}

.panel-gray-darker{
	color: #ffffff;
	background: #4d4d4d;
}

.panel-orange{
	color: #ffffff;
	background-color: #e97400;
}

.btn-orange{
	background-color: #e97400!important;
	margin-right: -10px;
	margin-top: -25px;
}

.btn-arrow-gray{
	color: #4d4d4d;
}

.bad-class {
	height: 170px;
}

#form-management-set input[type="text"], #form-management-set input[type="textarea"] {
	width: 300px;
}

.icon-anim {
	transform: rotate(0deg);
	transition: transform 1s;
	-moz-transition: transform 1s;
	-ms-transition: transform 1s;
	-webkit-transition: transform 1s;
	-o-transition: transform 1s;
	transform: rotate(360deg);
}

.btn-save{
	background-color: #003C5E;
	color: white;
	width: 10%;
	margin-top: 20px;
}

.highlight { background-color: #ffbdac; }

.right-form {
	position:relative;
	float:right;
}