.logo-crm {
	height: 55px;
	width: 350px;
}

h2 {
	color: #e97400;
	margin: -5px 0 20px;
}

.navbar {
	background-color: #003C5E;
	height: 80px;
	margin-bottom: 0px;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

/* Custom Colored Panels */
.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.box-user > li {
	float: right;
	margin: 10px 20px 0 0;
}

.btn-navigation {
	background: #e97400 !important;
	color: white !important;
	width: 100px;
}

.field-header {
	margin-bottom: 30px;
}

/* My stuff */
.content-btn-top {
	background-color: #e97400;
	border: none;
	margin-bottom: 10px;
}

.content-btn-top:hover {
	background-color: #c97400;
}

.content-btn-top a {
	color: white;
}

.form input[type="submit"] {
	border: 1px solid #999999;
}

.col-lg-4 + .line {
	margin-top: 60px;
}

#form-user-create .col-lg-4, #form-user-update .col-lg-4 {
	padding-left: 0;
}

.form input.save {
	margin-top: 10px;
}

@media(max-width:320px) {
	label.place-holder {
		width: 0;
	}
}

#form-create-role select, #form-edit-role select {
	height: 210px;
	width: 180px;
}

#show-usuario > ol, #show-permiso > ol {
	padding-left: 0;
}

form .management-select {
	margin-bottom: 10px;
}

.dropdown-menu > li > a:hover {
	background-color: white !important;
}

input#fromAddress, input#subject {
	width: 250px;
}

.required-indicator {
	color: red;
}

.accion-column {
	width: 30px;
}

#create-usuario .alert {
	margin: 0 15px 10px 15px;
	padding: 10px;
}

.panel-border-cyan1 {
	background-color: #b3b3b3;
}

.container-section {
	float: left;
}

#recall-list {
	background-color: #88b7d5;
	border: 4px solid #c2e1f5;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	right: 180px;
	top: 60px;
	width: 200px;
}

#recall-list a {
	text-decoration: none;
}
	
.recall-link {
	border-bottom: 1px solid #ccc;
	font-size: 0.8em;
}

#page-wrapper {
	margin-top: 80px;
	padding-left: 240px;
	padding-right: 30px;
	width: 100%;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #e97400; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-top: 20%;
	margin-left: 50%;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.overlay {
	background-color: rgba(1, 1, 1, 0.7);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#management-client strong {
	display: inline-block;
	width: 140px;
}

#management-client select, #management-client input {
	margin-bottom: 5px;
}

#formAdicional label {
	display: inline-block;
	width: 150px;
}

#management-client .group-title {
	color: #f0ad4e;
	font-size: 1.2em;
}