@CHARSET "UTF-8";

#sidebar-links {
	background-color: #003C5E;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: 80px;
	width: 235px;
	z-index: 1025;
}

.menu-header {
	background-color: #5d5d5d;
	color: white;
	cursor: pointer;
	padding: 12px;
}

#sidebar-links a {
	color: white;
	display: block;
	padding: 15px 10px;
	text-decoration: none;
}

#sidebar-links a:hover {
	background-color: #bbb;
	color: black;
}

#sidebar-links .nav-sub a {
	padding-left: 20px;
}

#sidebar-links .nav-sub a:hover {
	background-color: #bbb;
	color: black;
}

#sidebar-links .nav-active a {
	background-color: #d6d6d6;
	color: black;
}

.parent-sub {
	cursor: pointer;
}

.box-workaround-bug {
	border-bottom: none !important;
	height: 100px;
	width: 235px;
}

@media(max-width:765px) {	
	#page-wrapper {
		padding-left: 77px;
	}
	
	#sidebar-links {
		overflow-y: auto;
		width: 70px;
	}
	
	.menu-name {
		display: none;
	}
	
    .form label {
		width: auto;
	}
	
	.navbar-nav > li > a {
	    padding: 15px;
	}
	
	.menu-header {
		display: none;
	}
}
