<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main">
    <title></title>
</head>

<body>
    <div style="margin-top: 50px; margin-left: 50px; margin-bottom: 50px">
        <g:img dir="images" file="prohibido.png" width="40" height="40"/>
        <strong>No Tienes permiso para ingresar a este sitio</strong>
        <g:img dir="images" file="prohibido.png" width="40" height="40"/>
    </div>
</body>
</html>