<div class="container-fluid">
    <div class="form-group col-lg-3">
        <label>Nombre: </label>
        <g:textField class="form-control" required="" name="name" value="${province?.name}"></g:textField>
    </div>
</div>