<meta name="layout" content="main">
<asset:javascript src="sinister/create.js" />

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-body">
            <g:form action="save">
                <g:render template="form"></g:render>
                <g:submitButton class="btn btn-primary" name="btnSubmit" value="Guardar"></g:submitButton>
            </g:form>
        </div>
    </div>
</div>